<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏列表</title>
</head>
<body>
    <form action="/gamelist" method="post">
        <div>
            账户余额 <input type="text" name="money" placeholder={{.money}} style="width:80px;height:15px"><button>充值</button>
        </div>
    </form>
    <div>
        用户名 <button>{{.username}}</button>
        <a href="/">退出登录</a>
    </div>
    <div>
        商户名 <button>{{.merchantsid}}</button>
    </div>
    <br>
    <div>
        游戏列表
    </div>
    {{range .gamename}}
    <a href="{{.Url}}">{{.GameName}}</a><br>
    {{end}}
</body>
</html>
</html>